name: test

on: 
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.3.10'
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get
        
      - name: Run analyze
        run: flutter analyze
        
      - name: Run tests
        run: flutter test --coverage
